/* Reset some default styles */
body, h1, h2, p, form, input {
  margin: 0;
  padding: 0;
}

/* Set box-sizing to border-box for better layout handling */
body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flip-card {
  width: 329px; /* Adjust the width as needed */
  height: 410px; /* Adjust the height as needed */
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border: 2px solid #ccc; /* Border added */
}

.container.active .flip-card {
  transform: rotateY(180deg);
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card-signup {
  transform: rotateY(180deg);
}

#card, #card-signup {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 6rem auto 8.1rem auto;
}

#card-content, #card-signup-content {
  padding: 20px; /* Increased padding */
}

.card-title, #card-signup .card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 20px; /* Adjusted padding */
  padding-top: 20px; /* Adjusted padding */
  text-align: center;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border, .underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  width: 100%;
  margin-bottom: 20px; /* Increased margin */
}

.form-content {
  background: #fbfbfb;
  border: 1px solid #ccc; /* Border added */
  border-radius: 5px; /* Rounded corners */
  outline: none;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 15px;
  margin-bottom: 15px; /* Increased margin */
}
.fieldnamecontent{
  padding-top:13px;
  margin-left: 5%;
  margin-right: 5%;
}

#submit-btn, #submit-btn-signup {
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 30px; /* Adjusted margin */
  transition: 0.25s;
  width: 153px;
}

#submit-btn:hover, #submit-btn-signup:hover {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
}

#signup, #forgot-pass, #login-toggle, #signup-toggle {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 12pt; /* Adjusted font size */
  margin-top: 16px;
  text-align: center;
  cursor: pointer;
}

#signup-toggle {
  font-weight: bold; /* Added font-weight */
}

/* Added styling for the forgot password link */
#forgot-pass {
  display: block;
  text-align: center;
  margin-top: 10px;
}

#forgot-pass:hover {
  text-decoration: underline;
}
